# include the application.conf at the top
include required(classpath("application"))
system.delete-workflow-files = true
system.file-hash-cache = true
akka {
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  actor {
    default-dispatcher {
      fork-join-executor {
        # Number of threads = min(parallelism-factor * cpus, parallelism-max)
        # Below are the default values set by Akka, uncomment to tune these
        #parallelism-factor = 3.0
        #parallelism-max = 64
      }
    }
  }
  dispatchers {
    # A dispatcher for actors performing blocking io operations
    # Prevents the whole system from being slowed down when waiting for responses from external resources for instance
    io-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
      # Using the forkjoin defaults, this can be tuned if we wish
    }
    # A dispatcher for actors handling API operations
    # Keeps the API responsive regardless of the load of workflows being run
    api-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
    }
    # A dispatcher for engine actors
    # Because backends behaviour is unpredictable (potentially blocking, slow) the engine runs
    # on its own dispatcher to prevent backends from affecting its performance.
    engine-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
    }
    # A dispatcher used by supported backend actors
    backend-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
    }
    # Note that without further configuration, all other actors run on the default dispatcher
  }
}
spray.can {
  server {
    request-timeout = 40s
  }
  client {
    request-timeout = 40s
    connecting-timeout = 40s
  }
}
system {
  // If 'true', a SIGINT will trigger Cromwell to attempt to abort all currently running jobs before exiting
  abort-jobs-on-terminate = false
  // Max number of retries per job that the engine will attempt in case of a retryable failure received from the backend
  max-retries = 10
  // If 'true' then when Cromwell starts up, it tries to restart incomplete workflows
  workflow-restart = true
  // Cromwell will cap the number of running workflows at N
  max-concurrent-workflows = 5000
  // Cromwell will launch up to N submitted workflows at a time, regardless of how many open workflow slots exist
  max-workflow-launch-count = 50
  // Number of seconds between workflow launches
  new-workflow-poll-rate = 20
  // Since the WorkflowLogCopyRouter is initialized in code, this is the number of workers
  number-of-workflow-log-copy-workers = 10
  memory-retry-error-keys = ["OutOfMemory", "Killed"]
}
workflow-options {
  // These workflow options will be encrypted when stored in the database
  encrypted-fields: []
  // AES-256 key to use to encrypt the values in `encrypted-fields`
  base64-encryption-key: "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="
  // Directory where to write per workflow logs
  workflow-log-dir: "/storage1/fs1/jin810/Active/testing/Ruttenberg/SMAHT/SRS_Sims/AligmentCromwell/cromwell-workflow-logs"
  workflow_outputs_dir: "/storage1/fs1/jin810/Active/testing/Ruttenberg/SMAHT/SRS_Sims/AligmentCromwell"
  // When true, per workflow logs will be deleted after copying
  workflow-log-temporary: true
  // Workflow-failure-mode determines what happens to other calls when a call fails. Can be either ContinueWhilePossible or NoNewCalls.
  // Can also be overridden in workflow options. Defaults to NoNewCalls. Uncomment to change:
  //workflow-failure-mode: "ContinueWhilePossible"
  
  final_workflow_outputs_dir : "/storage1/fs1/jin810/Active/testing/Ruttenberg/SMAHT/SRS_Sims/AligmentCromwell"
  final_workflow_log_dir : "/storage1/fs1/jin810/Active/testing/Ruttenberg/SMAHT/SRS_Sims/AligmentCromwell/cromwell-workflow-logs"
  final_call_logs_dir : "/storage1/fs1/jin810/Active/testing/Ruttenberg/SMAHT/SRS_Sims/AligmentCromwell/logs"
  use_relative_output_paths : true
  delete_intermediate_output_files : true
  write_to_cache: true
  read_from_cache: true
}
// Optional call-caching configuration.
backend {
  default = "LSF"
  providers {
    LSF {
      actor-factory = "cromwell.backend.impl.sfs.config.ConfigBackendLifecycleActorFactory"
      config {
        #root: "/storage1/fs1/jin810-2/Active/Projects/GATK-SV/MISC/andrew_testing/"
        
        runtime-attributes = """
        Int? memory_kb
        Int? memory_mb
        String? queue
        String? project
        String? docker_image
        String? resource
        String? job_group
        Int? cpu
        String? docker
        String? docker_user
        Int? cpu_cores
        Float? mem_gb
        Int disk_gb = 10
        Int? boot_disk_gb
        Int? preemptible_trie
        Int? max_retries
        Int? memory
        Int? preemptible
        Int? bootDiskSizeGb
        String? disks
        """
 
    submit = """
        /bin/bash ${script}
        """
    
        submit-docker = """
        echo "#!/bin/bash" >> "${script}"_2
        echo 'export PATH="$CONTAINER_PATH":"$PATH":"$HOME"' >> "${script}"_2 
        #echo "export THEANO_FLAGS='base_compiledir=${cwd}'" >> "${script}"_2
        #echo "export GATK_JAR=/opt/gatk.jar" >> "${script}"_2
        #echo "export THEANO_FLAGS='base_compiledir=${cwd}'" >> "${script}"_2
        #echo "export GATK_JAR=/opt/gatk.jar" >> "${script}"_2
        #echo "export CLEAN_VCF_PART_1_JAR=/opt/sv-pipeline/java/build/CleanVCFPart1.jar" >> "${script}"_2
        #echo "export STITCH_JAR=/opt/sv-pipeline/java/build/StitchFragmentedCNVs.jar" >> "${script}"_2
	      tail -n +2 "${script}" >> "${script}"_2
	      mv "${script}"_2 "${script}"
        cwd=${cwd} \
        LSF_DOCKER_VOLUMES='${cwd}:${docker_cwd} ${cwd}:${cwd} /home/a.ruttenberg:/home/a.ruttenberg /storage1/fs1/jin810/Active:/storage1/fs1/jin810/Active /scratch1/fs1/jin810/ruttenberg:/scratch1/fs1/jin810/ruttenberg /storage2/fs1/epigenome/Active:/storage2/fs1/epigenome/Active' \
        LSF_DOCKER_PRESERVE_ENVIRONMENT=false \
  bsub \
        -J ${job_name} \
        -cwd ${cwd} \
        -o /dev/null \
        -e /storage1/fs1/jin810/Active/testing/Ruttenberg/SMAHT/SRS_Sims/AligmentCromwell/logs/alignment-%J.err \
        -a 'docker1(${docker})'  \
    -q subscription \
    -sla jin810_t3 \
    -g JOBGROUP \
        -M 1000GB \
        -n 2 \
    -R "span[hosts=1] select[mem>88064MB] rusage[mem=88064MB]" \
        -G compute-jin810-t3 \
        cwd=${cwd} THEANO_FLAGS='base_compiledir=${cwd}/.theano' /bin/bash ${script}
        """
        kill = "bkill ${job_id}"
        check-alive = "bjobs -noheader -o \"stat\" ${job_id} | /bin/grep 'PEND\\|RUN'"
        job-id-regex = "Job <(\\d+)>.*"
        exit-code-timeout-seconds = 300
        root: "/storage1/fs1/jin810/Active/testing/Ruttenberg/SMAHT/SRS_Sims/AligmentCromwell/cromwell-working-dir"
      dockerRoot: "/storage1/fs1/jin810/Active/testing/Ruttenberg/SMAHT/SRS_Sims/AligmentCromwell/cromwell-working-dir"
        "filesystems": {
          "local": {
            "localization": ["copy"]
                   
          }
        }
      }
    }
  }
}
services {
  KeyValue {
    class = "cromwell.services.keyvalue.impl.SqlKeyValueServiceActor"
  }
  MetadataService {
    class = "cromwell.services.metadata.impl.MetadataServiceActor"
  }
}
# Optional call-caching configuration.
call-caching {
  enabled = true
  # In a multi-user environment this should be false so unauthorized users don't invalidate results for authorized users. 
  invalidate-bad-cache-results = false
  system.file-hash-cache=true
}
database {
  profile = "slick.jdbc.HsqldbProfile$"
  db {
    driver = "org.hsqldb.jdbcDriver"
# the last argument of file is base of filename, could be per-run
    url = """
    jdbc:hsqldb:file:DATABASE;
    shutdown=false;
    hsqldb.default_table_type=cached;hsqldb.tx=mvcc;
    hsqldb.result_max_memory_rows=100000000000;
    hsqldb.large_data=true;
    hsqldb.applog=1;
    hsqldb.lob_compressed=true;
    hsqldb.script_format=3
    """
    connectionTimeout = 1200000000
    numThreads = 1
   }
}